
:root {
    --magenta: #D80073;
    --violet: #AA00FF;
    --yellow: #E3C800;
    --amber: #F0A304;
    --white: #FFFFFF;
    --progressline : #f0f0f0;
}

.skill-bars {
    padding: 25px 30px;
    width: 600px;
    background: var(--white);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    .bar {
        margin: 20px 0;

        &:first-child {
            margin-top: 0px;
        }

        .info {
            margin-bottom: 5px;

            span {
                font-weight: 500;
                font-size: 17px;
                opacity: 0;
                animation: showText 0.5s 1s linear forwards;

                @keyframes showText {
                    100% {
                        opacity: 1;
                    }
                }
            }
        }

        .progress-line {
            height: 10px;
            width: 100%;
            background: var(--progressline);
            position: relative;
            transform: scaleX(0);
            transform-origin: left;
            border-radius: 10px;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
                0 1px rgba(255, 255, 255, 0.8);
            animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;

            @keyframes animate {
                100% {
                    transform: scaleX(1);
                }
            }

            span {
                height: 100%;
                position: absolute;
                border-radius: 10px;
                transform: scaleX(0);
                transform-origin: left;
                background: var(--magenta);
                animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;

                &::before {
                    position: absolute;
                    content: "";
                    top: -10px;
                    right: 0;
                    height: 0;
                    width: 0;
                    border: 7px solid transparent;
                    border-bottom-width: 0px;
                    border-right-width: 0px;
                    border-top-color: #000;
                    opacity: 0;
                    animation: showText2 0.5s 1.5s linear forwards;
                }

                &::after {
                    position: absolute;
                    top: -28px;
                    right: 0;
                    font-weight: 500;
                    background: #000;
                    color: var(--white);
                    padding: 1px 8px;
                    font-size: 12px;
                    border-radius: 3px;
                    opacity: 0;
                    animation: showText2 0.5s 1.5s linear forwards;

                    @keyframes showText2 {
                        100% {
                            opacity: 1;
                        }
                    }
                }
            }

        }

        .progress-line.html span {
            width: 90%;

            &::after{
                content: "90%";
            }
        }

        .progress-line.css span {
            width: 60%;

            &::after{
                content: "60%";
            }
        }

        .progress-line.jquery span {
            width: 85%;

            &::after{
                content: "85%";
            }
        }

        .progress-line.python span {
            width: 50%;

            &::after{
                content: "50%";
            }
        }

        .progress-line.mysql span {
            width: 75%;

            &::after{
                content: "75%";
            }
        }
    }
}